:root {
  --basic-background: #f2f2f2;

  --basic-black: #000000;
  --basic-extra-dark: #333333;
  --basic-dark:  #666666;
  --basic-neutral: #888888;
  --basic-white: #ffffff;
  --basic-white-03: rgba(255, 255, 255, 0.3);
  --basic-extra-blue: #23A9E1;
  --basic-blue: #81B3D2;

  --block-grey: #EEEEEE;

  --button-white-click:  #ffffff;

  --button-blue: #81B3D2;
  --button-blue-hover: #669EC0;
  --button-blue-active: #5496BD;

  --button-brown: #766357;
  --button-brown-hover: #604E43;
  --button-brown-active: #503E33;

  --button-input: #A9A9A9;
  --button-input-grey:  #f2f2f2;
  --button-input-grey-hover: #EBEBEB;
  --button-input-grey-focus: #E5E5E5;

  --link-hover: #81B3D2;
  --link-active: #766357;
  --link-on-link: #766357 ;

  --body-shadow: rgba(0, 1, 1, 0.2);

  --text-main: "PT Sans", "Arial", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

.page {
  background-color: var(--basic-background);
}

.page-body {
  width: 1200px;
  margin: 0px auto;
  padding: 0;
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px var(--body-shadow);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  flex-direction: column;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.main-logo {
  width: 138px;
  height: 70px;
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-decoration: none;
  padding: 14px 73px;
  margin: 0px;
}

.site-navigation li {
  width: 25%;
}

.site-navigation li:nth-child(4n + 1) {

}

.site-navigation li:nth-child(4n + 2) {
  text-align: left;
  padding-right: 40px;
}

.site-navigation li:nth-child(4n + 3) {
  padding-left: 40px;
  text-align: right;
}

.site-navigation li:nth-child(4n + 4) {
  text-align: right;
}

.site-navigation-link {
  font-family: var(--text-main);
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
}

.site-navigation-link:hover,
.site-navigation-link:focus {
  color: var(--link-hover);
}

.site-navigation-link:active {
  color: var(--link-active);
  opacity: 0.3;
}

.header-logo {
  display: block;
  text-align: center;
  background: url("../img/background_photo.jpg") no-repeat;
  width: 1200px;
  height: 100%;
  padding-top: 77px;
  padding-bottom: 81px;
}

.header-logo:after {
  position: relative;
  content: url("../img/Shape.png");
  width: 1200px;
  height: 157px;
  bottom: -20px;
}



/*Преимущества*/

.features-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.features-list li {
  padding: 160px 73px 82px 73px;
}

.features-list--grey {
  background-color: var(--block-grey);
}

.features-list--grey li {
  padding: 47px 73px 54px 73px;
}

.features-header {
  text-align: center;
  font-family: var(--text-main);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  width: 470px;
  margin: 43px auto 0 auto;
}

.features-desc {
  text-align: center;
  font-family: var(--text-main);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 26px;
  color: var(--basic-extra-dark);
  margin: 44px auto 52px auto;
}

.features-item {
  display: flex;
}

.features-item-content {
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  padding: 50px;
}

.item-header {
  font-family: var(--text-main);
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  text-transform: uppercase;
}

.souvenirs {
  position: relative;
}

.souvenirs:before {
  content: url(../img/icon-2.svg);
  position: absolute;
  bottom: 49px;
  left: 50%;
  transform: translateX(-50%);
}

.home {
  position: relative;
}

.home:before {
  content: url(../img/icon-1.svg);
  position: absolute;
  bottom: 49px;
  left: 50%;
  transform: translateX(-50%);
}

.burger {
  position: relative;
}

.burger:before {
  content: url(../img/icon-3.svg);
  position: absolute;
  bottom: 49px;
  left: 50%;
  transform: translateX(-50%);
}

.item-number {
  font-family: var(--text-main);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.item-content {
  font-family: var(--text-main);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

/*Поиск гостиницы в Седоне*/

.housing-search {
  margin: auto;
  width: 568px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 58px;
}

.search-header {
  display: block;
  font-family: var(--text-main);
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.search-dates {
  width: 435px;
  font-family: var(--text-main);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--basic-extra-dark);
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.search-link {
  width: 568px;
  padding : 30px 0 30px 0;
  font-family: var(--text-main);
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--button-brown);
  text-align: center;
}

.search-link:hover,
.search-link:focus {
  background-color: var(--button-brown-hover);
}

.search-link:active {
  color: var(--basic-white-03);
  background-color: var(--button-brown-active);
}

/*Выпадающий список*/

.search-dates {
  font-family: var(--text-main);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--basic-extra-dark);
}

.search-option {
  font-family: var(--text-main);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.search-option::placeholder {
  color: var(--basic-black);
  opacity: 1;
}

.input-date {
  border: 0;
  width: 346px;
  height: 38px;
  color: var(--basic-black);
  background-color: var(--button-input-grey);
}

.input-date:hover {
  background-color: var(--button-input-grey-hover);
}

.input-date:focus {
  background: #FFFFFF;
  border: 2px solid var(--button-input-grey-focus);
  box-sizing: border-box;
}

.calendar-button {
  display: block;
  width: 38px;
  height: 38px;
  border: 0;
  background: url("/img/calendar.png") no-repeat;
  background-position: center;
  cursor: pointer;
}

.calendar-button:hover {
  background: url("/img/calendar_hover.png") no-repeat;
  background-position: center;
}

.calendar-button:active {
  background: url("/img/calendar_active.png") no-repeat;
  background-position: center;
}

.input-count {
  width: 114px;
  height: 38px;
  border: 0;
  background-color: var(--basic-background);
}

.count-button {
  width: 38px;
  height: 38px;
  border: 0;
  background-position: center;
}

.minus {
  background: url("/img/minus.png") no-repeat 11px 11px;
}

.minus:hover {
  background: url("/img/minus_hover.png") no-repeat 11px 11px;
}

.minus:active {
  background: url("/img/minus_active.png") no-repeat 11px 11px;
}

.plus {
  background: url("/img/plus.png") no-repeat 11px 11px;
}

.plus:hover {
  background: url("/img/plus_hover.png") no-repeat 11px 11px;
}

.plus:active {
  background: url("/img/plus_active.png") no-repeat 11px 11px;
}

.search-button {
  border: 0;
  width: 458px;
  padding: 16px;
  font-family: var(--text-main);
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--button-blue);
  text-align: center;
}

.search-button:hover,
.search-button:focus {
  background-color: var(--button-blue-hover);
}

.search-button:active {
  color: var(--basic-white-03);
  background-color: var(--button-blue-active);
}

.map-wrapper {
  display: block;
}

.main-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 138px 36px 111px ;
}

.footer-contacts {
  font-family: var(--text-main);
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-black);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-contacts-phone {
  color: inherit;
}

.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.socials-button {
  display: block;
  justify-content: center;
  position: relative;
  width: 46px;
  height: 48px;
  background-color: var(--button-blue);
  margin-left: 6px;
}

.socials-button::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: center;
}

.twitter::before {
  background-image: url("../img/twitter.svg");
  width: 17px;
  height: 17px;
}

.facebook::before {
  background-image: url("../img/facebook.svg");
  width: 12px;
  height: 22px;
}

.youtube::before {
  background-image: url("../img/youtube.svg");
  width: 20px;
  height: 16px;
}

.socials-button:hover,
.socials-button:focus {
  background-color: var(--button-blue-hover);
}

.socials-button:active {
  background-color: var(--button-blue-active);
}

.socials-button:active::before {
  opacity: 0.3;
}

.footer-copyright {
  display: flex;
  align-items: center;
}

.footer-copyright span {
  font-family: var(--text-main);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  margin-right: 8px;
}

.copyright {
  background-image: url("../img/logo-htmlacademy.svg");
  width: 115px;
  height: 41px;
}

.copyright:hover,
.copyright:focus {
  background-image: url("../img/logo-htmlacademy_hover.png");
}

.copyright:active {
  background-image: url("../img/logo-htmlacademy_active.png");
}

/*Catalog*/

.search-form-container {
  background-image: url("../img/catalog-background.jpg");
  background-repeat: no-repeat;
  width: 1200px;
}

.search-form-header {
  font-family: var(--text-main);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.search-form li {
  list-style: none;
}

.search-form-items {
  font-family: var(--text-main);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.search-form-price input {
  font-family: var(--text-main);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.search-form-price input::placeholder {
  color: var(--basic-white);
  opacity: 1;
}

.show-button {
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  width: 137px;
  padding: 8px;
  font-family: var(--text-main);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
  text-align: center;
  background-color: none;
}

.show-button:hover,
.show-button:focus,
.show-button:active {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/*Результаты поиска*/

.search-result {
  font-family: var(--text-main);
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.search-result_sorting {
  align-items: center;
  font-family: var(--text-main);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}

/*Сортировка*/

.sort_by {
  list-style: none;
}

.type {
  font-family:var(--text-main);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  opacity: 0.3;
  text-decoration: underline 1px dashed var( --basic-blue);
}

.type:hover,
.type:focus {
  color: var(--basic-blue);
  opacity: 1;
}
.type:active {
  color: var(--basic-black);
  opacity: 1;
  text-decoration: none;
}

/*Стрелки*/

.ascending {
  font: 0/0;
  text-shadow: none;
  color: transparent;
  background: url("../img/icon-up.png") no-repeat;
  width: 11px;
  height: 10px;
}

.ascending:hover,
.ascending:focus {
  background: url("../img/icon-up_hover.png")  no-repeat;

}

.ascending:active {
  background: url("../img/icon-up_active.png")  no-repeat;
}

.descending {
  font: 0/0;
  text-shadow: none;
  color: transparent;
  background: url("../img/icon-down.png") no-repeat;
  width: 11px;
  height: 10px;
}

.descending:hover,
.descending:focus {
  background: url("../img/icon-down_hover.png")  no-repeat;

}

.descending:active {
  background: url("../img/icon-down_active.png")  no-repeat;
}

/*Результаты поиска*/

.result_list li {
  list-style: none;
}

.housing-name {
  font-family: var(--text-main);
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.housing-name:hover,
.housing-name:hover {
  color: var(--basic-blue);
}

.housing-name:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.housing-type {
  font-family: var(--text-main);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-extra-dark);
}

.price {
  font-family: var(--text-main);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-extra-dark);
}

.button_about {
  border: 0;
  padding: 3px 17px;
  font-family: var(--text-main);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--button-blue);
}

.button_about:hover,
.button_about:focus {
  background-color: var(--button-blue-hover);
}

.button_about:active {
  color: var(--basic-white-03);
  background-color: var(--button-blue-active);
}

.button_reserve {
  border: 0;
  padding: 3px 17px;
  font-family: var(--text-main);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--button-brown);
}
.button_reserve:hover,
.button_reserve:focus {
  background-color: var(--button-brown-hover);
}

.button_reserve:active {
  color: var(--basic-white-03);
  background-color: var(--button-brown-active);
}

.rate {
  display: block;
  border: 0;
  width: 110px;
  padding: 3px;
  font-family: var(--text-main);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-dark);
  background-color: var(--basic-background);
}

.stars {
  display: block;
  font: 0/0;
  padding: 4px;
  text-shadow: none;
  color: transparent;
  background: url("../img/star.png") no-repeat;
  align-items: center;
  width: 19px;
  height: 17px;
}

.four {
  display: block;
  width: 68px;
  background: url("../img/star.png");
  background-repeat: repeat-x;
}

.three {
  display: block;
  width: 48px;
  background: url("../img/star.png");
  background-repeat: repeat-x;
}

.two {
  display: block;
  width: 28px;
  background: url("../img/star.png");
  background-repeat: repeat-x;
}
